/* @import "./_poole.scss"; */
/* @import "./_hyde.scss"; */
@use "./poole";
@use "./hyde";

/* article {content-visibility: auto;} */
article img {width:100%; height:auto;}

/* Poole & Hyde default CSS does not pass today's lighthouse tests */

a {color: #5fc1fd }                             /* darken(#268bd2, 15%); */
.post-date {color: #929292; font-size: 90%;}    /* darken(#9a9a9a, 15%); */
.related-posts li small {color: #747474;}

.sidebar-nav-item {line-height: 2.75;}
@media (min-width: 48em) {
  .sidebar-nav-item {line-height: 1.75;}
}

/* WCAG2AA sidebar & example-content page */
.sidebar {color: rgb(255, 255, 255, 0.7);}
blockquote {color: #666666;}  /* darken(#7a7a7a, 8%) */
/* code {color: #b04751;}    */    /* darken(#bf616a, 8%) */

/* Dark mode */
.theme-base-0b .sidebar {background-color: #025D92}
.theme-base-0b .content a, .theme-base-0b .related-posts li a:hover {
  color: #5fc1fd;
}

a:focus, a:hover {
	text-decoration: underline;
}


/* pagination line */
.compact-pagination > * {
  display: inline;
}
.compact-pagination li {
  display: inline;
  padding-left: 1em;  /* touch target spacing */
}
.compact-pagination ol {
  white-space: nowrap;
  padding-left: 0;
  display: inline;  /* same line as the heading */
}

.content {
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-img {
  align-content: center;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  padding: 0;
}

img#flickr_roll {
  width: 100%; // javascript may shrink it to match image
  height: 33vh; // mobile, 100% for desktop
  margin: auto;
}

@media (min-width: 48em) { // desktop
  img#flickr_roll {
    height: 100%;  // javascript may shrink it down
  }
}

.image_overlay_br {
  position: relative;
  float: right;
  right: 0.5em;
  bottom: 1.5em;
  z-index: 100;
  font-size: 20px;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
